<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head th:insert="fragments/head :: head"></head>
    <body>
        <header th:replace="fragments/nav :: nav"></header> 
             <div class="container">
                <div class="col-md-12">
                            <div class="row justify-content-between">
                                <div class="col-md-10"><h4>Relatório de Mensalidades</h4></div>
                                 <div class="col-md-2" style="padding-bottom: 5px">  
                                    <a class="btn btn-danger" id="bt_reset"  title="imprimir relatório"
                                         th:href="@{/mensalidade/imprimir}">
                                         <i class = "icon ion-md-print"> </i>Imprimir 
                                     </a>
                                </div>
                            </div>
                             <hr>
                        </div>
                        <div class="col">
                            <label for="Data" th:text="Data"></label>
                            <form th:action="@{/mensalidade/listar}">
                            <div class="row">
                                <div class="col-md-10">
                                        <input type="date" class="form-control" id="data" name="data" required>
                                </div>
                                 <div class="col-md-2">
                                     <input type="submit" value="buscar" class="btn btn-dark"/>
                                </div>
                            </div>
                          </form>
                        </div>
                    <div class="col-md-12">
                            <table class=" table table-striped"  th:unless="${#lists.isEmpty(alunos)}">
                                 <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Cpf</th>
                                        <th scope="col">Mês</th>
                                        <th scope="col">Vencimento</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr scope="row" th:each="aluno,num : ${alunos}">
                                        <td th:text="${num.count}"></td>
                                        <td th:text="${aluno.nome}"></td>
                                        <td th:text="${aluno.cpf}"></td>
                                        <td>
							                 <p th:each="mens : ${aluno.mensalidades}" th:text="${mens.mes}"></p>
						                </td>
                                         <td>
							                 <p th:each="mens : ${aluno.mensalidades}" th:text="${mens.vencimento}"></p>
						                </td>
                                         <td>
							                 <p th:each="mens : ${aluno.mensalidades}" th:text="${mens.status}" th:style="|${mens.status == 'pendente' ? 'color: red;' : 'color: green;'}|"></p>
						                </td>
                                         <td>
							                 <p th:each="mens : ${aluno.mensalidades}" th:text="${mens.valor}"></p>
						                </td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                    <div class="col-md-12">
                            <table class="table"  th:unless="${#lists.isEmpty(alunos)}">
                                 <thead>
                                     <tr th:if="${date != null}">
                                        <h6 scope="col" th:text="'Data: '+${date}"></h6>
                                    </tr>
                                    <tr>
                                        <th scope="col" colspan="7">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td  style="color:green">pagas</td>
                                        <td colspan="6" style="text-align: right; color:green" th:text="${pagas}"></td>
                                    </tr>
                                    <tr>
                                        <td  style="color:red">pendentes</td>
                                        <td colspan="6" style="text-align: right; color:red" th:text="${pendentes}"></td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
            </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </body>
</html>
