<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head th:insert="fragments/head :: head"></head>
    <body>
       <header th:replace="fragments/nav :: nav"></header> 
             <div class="container">
                 <div class="col-md-12">
                       <div th:switch="${aviso}">
                            <div th:case="'sucesso salvar'" class="alert alert-success
                                alert-dismissible fade show" role="alert">Turma salva
                            com sucesso!</div>
                            <div th:case="'sucesso excluir'" class="alert alert-success
                                alert-dismissible fade show" role="alert">Turma excluída
                            com sucesso!</div>
                            <div th:case="'erro salvar'" class="alert alert-danger alertdismissible fade show" role="alert">Houve ao tentar salvar o
                            turma!</div>
                            <div th:case="'erro excluir'" class="alert alert-danger alertdismissible fade show" role="alert">Houve ao tentar excluir a
                            turma!</div>
                    </div>
				</div>
                <div class="col-md-12">
                     <h4>Cadastro Turma</h4>
                    <hr>
				</div>
                    <div class="col-md-12">
                         <form action="#" class="formulario" th:action="@{/turma/save}" th:object="${turma}">
                                <div class="col-md-12">
                                    <div class="row">
                                          <div class="col-md-8">
                                                <label for="Nome" th:text="Nome"></label>
                                                <input type="text" class="form-control" id="nome" th:field="*{nome}" required maxlength="100"> 
                                          </div>
                                           <div class="col-md-4">
                                                <label for="Turno" th:text="Turno"></label>
                                                <select id="id_turno" name="id_turno" class="form-select" aria-label="Default select example">
                                                      <option th:each="turnos:${turnos}"
                                                            th:value="${turnos.id}"
                                                            th:text="${turnos.nome}"> 
                                                    </option>
                                               </select>
                                            </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-md-6" style="padding-top: 20px">
                                        <input type="submit" value="Salvar" class="btn btn-dark"/>
                                        <input type="reset" value="Cancelar" id="bt_reset" class="btn btn-danger"/>
                                        </div>   
                                    </div>
                             </div> 
                        </form>
                    </div>   
            </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </body>
</html>