<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
     <head th:insert="fragments/head :: head"></head>
    <body>
        <header th:replace="fragments/nav :: nav"></header>  
             <div class="container">
                <div class="col-md-12">
                     <h4>Bem Vindo a ACADEMY FITNESS!</h4>
                    <hr>
				</div>
                    <div class="col-md-12">
                         
                    </div>   
            </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </body>
</html>

