<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head th:insert="fragments/head :: head"></head>
    <body id="turmas">
            <div class="container">
                <div class="row justify-content-center">
                        <div class="col-md-12" style="text-align: center">
                            <div class="alert alert-error" th:if=${param.error}>Login ou senha invalido!</div>
                            <div class="alert alert-error" th:text=${mensagem} th:if=${mensagem}></div>
                        </div> 
                        <div class="col-md-12" id="entrar">
                            <div class="col-md-12" style="text-align: center; font-size: 30px;">
                                <i class = "icon ion-md-fitness" style="font-size:50px"> </i>
                                <p>Academy Fitness</p>
                            </div>
                            <form method="post" th:action="@{/login}">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="username" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="username" name="username" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="password" class="form-label">Senha</label>
                                    <input type="password" class="form-control" id="password" name="password" maxlength="12" required>
                                    </div>
                                </div>
                                <div class="col-md-12" style="padding-top: 20px;">
                                     <input type="submit" style="width: 100%;" value="Entrar" class="btn btn-dark"/>
                                </div>
                            </form>
                            <div class="row">
                                  <div class="col-md-6" style="padding-top: 20px;">
                                    <form th:action="@{/novoUsuario}">
                                        <a id="link-senha" href="#" th:href=@{/novoUsuario}>Novo Usuário</a>
                                      </form>
                                 </div>
                                  <div class="col-md-6" style="padding-top: 20px;">
                                    <form th:action="@{/esqueciSenha}">
                                        <a id="link-senha" th:href=@{/esqueciSenha}>Esqueci minha senha</a>
                                    </form>
                                </div>
                            </div>
                    </div>     
                </div>     
            </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </body>
</html>